
{% extends 'main_signpage.html' %}
{% load static %}
{% block content %}


	<div class="sign section--full-bg" data-bg="img/bg2.jpg" style="background: url(&quot;img/bg2.jpg&quot;) center center / cover no-repeat;">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- authorization form -->
						<form action="" method="POST" class="sign__form">
							{% csrf_token %}

							<a href="./index.html" class="sign__logo">
								<img src="{% static 'img/tpc_logo.png'%}" alt="">
							</a>
						<p class="form__label" style="color:white">Change Password</p>
							{% for field in form %}
					<div class="sign__group">

							{%if field.html_name == 'new_password1'%}
						<input type="password" class="sign__input" name="{{ field.html_name }}" placeholder="New Password" id="{{ field.id_for_label }}" value="">
							{%else %}
								<input type="password" class="sign__input" name="{{ field.html_name }}" placeholder="Confirm Password" id="{{ field.id_for_label }}" value="">
							{%endif%}
					</div>
							<p class="form__label" style="color:white">{{ field.errors }}</p>
								{% endfor %}

							<button class="sign__btn" type="submit">Send</button>

							<span class="sign__text">We will send a password to your Email</span>

						</form>
						<!-- end authorization form -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end sign in -->

	{% endblock %}
