<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% block content %}

	<!-- page title -->
	<section class="section section--first section--last section--head" >
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title">Profile</h2>
						<!-- end section title -->

						<!-- breadcrumb -->
						<ul class="breadcrumb">
							<li class="breadcrumb__item"><a href="./index.html">Home</a></li>
							<li class="breadcrumb__item breadcrumb__item--active">Profile</li>
						</ul>
						<!-- end breadcrumb -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- section -->
	<section class="section section--last">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="profile">
						<div class="profile__user">
							<div class="profile__avatar">
								<img src="{%static 'img/user.svg' %}" alt="">
							</div>
							<div class="profile__meta">
								<h3>{{request.user}}</h3>
								<span> ID: {{request.user.id}}</span>
							</div>
						</div>

						<ul class="nav nav-tabs profile__tabs" id="profile__tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link"  href="{% url 'Profile:mypurchases' %}" role="tab" aria-controls="tab-1" aria-selected="false">My purchases</a>
							</li>

								<li class="nav-item">
								<a class="nav-link"  href="{% url 'Profile:Setting'%}" role="tab" aria-selected="false">Settings</a>
							</li>
							{% if user.is_superuser %}
							<li class="nav-item">
								<a class="nav-link"  href="{% url 'main:Console' %}" role="tab" aria-controls="tab-1" aria-selected="false">Console</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"  href="{% url 'main:admin_view' %}" role="tab" aria-controls="tab-1" aria-selected="false">admin Commands</a>
							</li>
							{%endif%}
						</ul>

						<button class="profile__logout" type="button">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M304 336v40a40 40 0 01-40 40H104a40 40 0 01-40-40V136a40 40 0 0140-40h152c22.09 0 48 17.91 48 40v40M368 336l80-80-80-80M176 256h256" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path></svg>
							<span><a style="color:white"href="{%url 'logout'%}">Logout</a></span>
						</button>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- end section -->

	{% endblock %}
